h1 {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
footer {
  text-align: center;
  padding-top: 10px;
}

.container-xl {
  display: block;
  max-width: 510px;
  margin: 40px auto;
  padding: 10px;
  margin-bottom: -10px;
  background: rgb(255, 254, 254);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.city {
  color: black;
  padding: 10px;
  font-size: 15px;
}

.date {
  opacity: 0.6;
  margin-bottom: -19px;
}
.time {
  display: block;
  margin-top: -50px;
  margin-left: 65%;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  padding-top: 10px;
}
#all_cities {
  display: block;
  padding: 7px;
  margin-left: 7px;
  font-family: "Times New Roman", Times, serif;
}
